{
  "tagFormat": "v${version}",
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    {
      "path": "@semantic-release/git",
      "assets": [
        "package.json",
        "package-log.json",
        "CHANGELOG.md"
      ],
      "message": "chore(release): Published ${nextRelease.version} (${nextRelease.gitTag}) [skip ci]\n\n${nextRelease.notes}"
    },
    "@semantic-release/github"
  ]
}
